/* BOOTSTRAP OVERRIDES */

.navbar-dark .navbar-nav .nav-link {
	color: #A9ACAF !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #FFFFFF !important;
}

.bg-dark {
    background-color: #000000!important;
}

.container {
	padding-bottom: 5rem;
}

/* APP STYLES */
body {
	font-size: 1rem;
}

a {
	color: #000;
	font-weight: bold;
	&:hover {
		color: #b7b2b2;
		text-decoration: none;
	}
}


.site-name {
	&#first {
		font-weight: bold;
	}
	&#second {
		font-weight: normal;
		margin-left: .05rem;
	}
	&#logo {
		margin-top: -.05rem;
	}
}


#page_content {
	margin-top: 2rem;
}

h2 {
	font-size: .9rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #f94040;
}