{% extends 'wavepool/base.html' %}
{% load static %}

{% block extra_style %}
	<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
	<div class="row">
		<h1 id="dashboard-title" class="col-lg-12">The Halcyon <span id="post">Post</span></h1>
		<div id="header-image" class="col-lg-12" style="position: relative; z-index: 1;">
			<img src="{% static 'image/halcyon-post/header.jpg' %}" height="530" />
			<div id="header-image-text">
				<a id="header-image-title" href="{{ cover_story.url }}">{{ cover_story.title }}</a>
				<p id="header-image-teaser">{{ cover_story.teaser }}</p>
			</div>
		</div>
	</div>
	<div id="top-stories" class="row">
		<h1 id="top-stories-header" class="col-lg-12">Top Stories</h1>
		<div class="col-sm-6 top-stories-main-post show-desktop">
			<img class="top-stories-image" src="{% static 'image/halcyon-post/top-story.jpg' %}" />
			<a class="top-stories-main-title" href="{{ cover_story.url }}">{{ cover_story.title }}</a>
			<div class="top-stories-topic-and-date">
				<span>{{ cover_story.publish_date }} //</span>
				<span>{{ cover_story.topics.first.display_name }}</span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				{% for feed_item in top_stories %}
					<div class="top-stories-item col-md-6">
						<div class="top-stories-topic-and-date">
							<span>{{ feed_item.publish_date }} //</span>
							<span>{{ cover_story.topics.first.display_name }}</span>
						</div>
						<a class="top-stories-title" href="{{ feed_item.url }}">{{ feed_item.title }}</a>
						<p class="top-stories-teaser">{{ feed_item.teaser }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-6 top-stories-main-post show-mobile">
			<img class="top-stories-image" src="{% static 'image/halcyon-post/top-story.jpg' %}" />
			<a class="top-stories-main-title" href="{{ cover_story.url }}">{{ cover_story.title }}</a>
			<div class="top-stories-topic-and-date">
				<span>{{ cover_story.publish_date }} //</span>
				<span>{{ cover_story.topics.first.display_name }}</span>
			</div>
		</div>
	</div>
	<div class="row">
		<h1 id="newsfeed-header" class="col-lg-12">NEWSFEED</h1>
		<div id="empire-newsfeed-wrapper" class="col-lg-12 justify-content-between">
			<h1 id="empire-newsfeed" >The Empire Newsfeed</h1>
			<a id="view-archives-desktop" href="{% url 'newspost_archive' %}" class="align-self-center show-desktop">View Archives >></a>
		</div>
		{% for feed_item in recent_stories %}
			<div class="col-md-6 newfeed-item">
				<p class="newsfeed-title">{{ feed_item.title }}</p>
				<p class="newsfeed-date">{{ feed_item.publish_date }}</p>
			</div>
		{% endfor %}
		<a id="view-archives-mobile" href="{% url 'newspost_archive' %}" class="show-mobile col-lg-12">View Archives >></a>
	</div>
{% endblock %} 
