{% extends 'wavepool/base.html' %}
{% load static %}

{% block extra_style %}
	<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-8">
			<div class="spoonser">
				<a target="_blank" href="{{ad.url}}">
					<div class="row">
						<div class="col-5 spoonsor-image">
							<img src="{% static 'spoonsers/' %}{{ad.logo}}" width="200px" />
						</div>
						<div class="col-7 spoonsor-content">
							<div class="spoonsor-text">This news post is brought to you by {{ad.company_name}} - {{ad.copy}}</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	{% if user.is_authenticated %}
		<div class="row admintools">
			<a id="edit-link" href=""><button>edit</button></a>
		</div>
	{% endif %}
	<div class="row">
		<div class="col story">
			<span class="story-byline">
				<div class="label label--loud">{{newspost.publish_date}}</div>
				<h1 id="story-title">{{ newspost.title }}</h1>
				<a href="{{newspost.source}}" target="_blank">See the live story at {{newspost.divesite.display_name}}</a>
			</span>
			<div class="story-content">
				{{ newspost.body|safe }}
			</div>
		</div>
	</div>

	{% if newspost.tags %}
		<div class="row">
			<div class="col">
			Topics:
			{% for topic in newspost.topics.all %}
				<div class="label label--tag">{{topic.display_name}}</div>
			{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
